venv/
.env
backend/.env
launch_model/.env
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
**/.DS_Store

# Credentials
backend/config/credentials.json
backend/config/client_secret_*.json
backend/config/drive_token.json
backend/config/.cdsapirc

# Models & Large Data
backend/models/*.pkl
backend/data/*.csv

# --- [TRACKING] DVC, MLflow, logs ---
launch_model/.dvc/cache/
launch_model/.dvc/tmp/
launch_model/mlruns/
launch_model/logs/
launch_model/*.db
launch_model/mlflow.db
launch_model/metrics/*.json

# --- [DATA] Remote changes ---
data/
*.nc
*.pkl
*.csv
.ipynb_checkpoints/
data/shap/
data/models/
data/launches/
data/era5/

